html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/* patterns from subtlepatterns.com */
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
#body{background-color:rgb(255,253,252);background:rgb(255,253,252) url(../images/ricepaper2.png) repeat center top;}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:562px;}
.cont{z-index:1;pointer-events:none;border:0;background-image:url(../images/7th-17-320-1.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:66px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:240px;margin-top:0;}
.size-2{min-width:472px;width:472px;min-height:55px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-4{position:relative;margin-left:0;margin-top:14px;}
.size-3{min-width:102px;width:102px;min-height:27px;height:27px;}
.cont-3{z-index:10;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:25px;letter-spacing:2.23px;text-shadow:none;}
.pos-5{position:relative;margin-left:69px;margin-top:0;}
.size-4{min-width:138px;width:138px;min-height:55px;height:55px;}
.cont-4{z-index:9;pointer-events:auto;}
.anchor{display:block;}
.img{position:absolute;left:0;width:138px;height:55px;top:0;border:0;}
.img-2{left:0;width:138px;height:55px;top:0;display:inline-block;}
.pos-6{position:relative;margin-left:69px;margin-top:14px;}
.size-5{min-width:94px;width:94px;min-height:27px;height:27px;}
.cont-5{z-index:5;pointer-events:auto;}
.pos-7{position:relative;margin-left:213px;margin-top:78px;}
.size-6{min-width:679px;width:679px;min-height:272px;}
.pos-8{position:relative;margin-left:0;margin-top:0;}
.size-7{min-width:273px;width:273px;min-height:272px;height:272px;}
.cont-6{z-index:11;pointer-events:auto;}
.img-3{position:absolute;left:0;width:273px;height:272px;top:0;box-shadow:0 9px 38px rgba(0,0,0,0.2);border:0;}
.img-4{left:0;width:273px;height:272px;top:0;display:inline-block;}
.pos-9{position:relative;margin-left:29px;margin-top:52px;}
.size-8{min-width:377px;width:377px;min-height:162px;}
.colwrapper{line-height:0;}
.size-9{min-width:377px;width:377px;min-height:114px;height:114px;}
.cont-7{z-index:14;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:37px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:45px;letter-spacing:normal;text-shadow:none;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:27px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:0;margin-top:14px;}
.size-10{min-width:219px;width:219px;min-height:34px;}
.pos-11{position:relative;margin-left:0;margin-top:0;}
.size-11{min-width:118px;width:118px;min-height:34px;height:34px;}
.cont-8{z-index:16;pointer-events:auto;}
.img-5{position:absolute;left:0;width:118px;height:34px;top:0;}
.pos-12{position:relative;margin-left:9px;margin-top:0;}
.size-12{min-width:92px;width:92px;min-height:34px;height:34px;}
.cont-9{z-index:17;pointer-events:auto;}
.img-6{position:absolute;left:0;width:92px;height:34px;top:0;border:0;}
.img-7{left:0;width:92px;height:34px;top:0;display:inline-block;}
.pos-13{position:relative;margin-top:25px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-14{position:relative;margin-left:364px;margin-top:0;}
.size-13{min-width:229px;width:229px;min-height:51px;}
.pos-15{position:relative;margin-left:0;margin-top:4px;}
.size-14{min-width:39px;width:39px;min-height:43px;height:43px;}
.cont-10{z-index:18;pointer-events:auto;}
.img-8{position:absolute;left:0;width:39px;height:40px;top:1px;border:0;}
.img-9{left:0;width:39px;height:40px;top:1px;display:inline-block;}
.pos-16{position:relative;margin-left:20px;margin-top:0;}
.size-15{min-width:41px;width:41px;min-height:51px;height:51px;}
.cont-11{z-index:19;pointer-events:auto;}
.img-10{position:absolute;left:0;width:41px;height:42px;top:4px;border:0;}
.img-11{left:0;width:41px;height:42px;top:4px;display:inline-block;}
.pos-17{position:relative;margin-left:19px;margin-top:2px;}
.size-16{min-width:46px;width:46px;min-height:47px;height:47px;}
.cont-12{z-index:20;pointer-events:auto;}
.img-12{position:absolute;left:0;width:46px;height:47px;top:0;border:0;}
.img-13{left:0;width:46px;height:47px;top:0;display:inline-block;}
.pos-18{position:relative;margin-left:21px;margin-top:4px;}
.size-17{min-width:43px;width:43px;min-height:43px;height:43px;}
.cont-13{z-index:21;pointer-events:auto;}
.img-14{position:absolute;left:0;width:43px;height:43px;top:0;}
.pos-19{position:relative;margin-left:-275px;margin-top:57px;}
.size-18{min-width:325px;width:325px;min-height:91px;height:91px;}
.cont-14{z-index:22;pointer-events:auto;}
.font-4{font-family:"Helvetica Neue", sans-serif;font-size:48px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:83px;letter-spacing:normal;text-shadow:none;}
.pos-20{position:relative;margin-left:77px;margin-top:0;}
.size-19{min-width:810px;width:810px;min-height:81px;height:81px;}
.cont-15{z-index:6;pointer-events:auto;}
.font-5{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.font-6{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.font-7{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(220,50,47);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.pos-21{position:relative;margin-left:278px;margin-top:3px;}
.size-20{min-width:403px;width:403px;min-height:91px;height:91px;}
.cont-16{z-index:28;pointer-events:auto;}
.pos-22{position:relative;margin-left:62px;margin-top:15px;}
.size-21{min-width:844px;width:844px;min-height:328px;}
.size-22{min-width:268px;width:268px;min-height:328px;}
.cont-17{z-index:23;pointer-events:auto;}
.cont-18{z-index:25;pointer-events:none;border:0;background-color:rgb(255,253,252);box-shadow:0 0 40px rgba(0,0,0,0.2);}
.size-23{min-width:268px;width:268px;min-height:183px;height:183px;}
.cont-19{z-index:26;pointer-events:auto;}
.img-15{position:absolute;left:0;width:268px;height:183px;top:0;border:0;}
.img-16{left:0;width:268px;height:183px;top:0;display:inline-block;}
.pos-23{position:relative;margin-left:14px;margin-top:14px;}
.size-24{min-width:242px;width:242px;min-height:131px;height:131px;}
.cont-20{z-index:27;pointer-events:auto;}
.font-8{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.font-9{font-family:"Helvetica Neue", sans-serif;font-size:13px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:40px;letter-spacing:normal;text-shadow:none;}
.pos-24{position:relative;margin-left:19px;margin-top:0;}
.cont-21{z-index:12;pointer-events:auto;}
.cont-22{z-index:2;pointer-events:none;border:0;background-color:rgb(255,253,252);box-shadow:0 0 40px rgba(0,0,0,0.2);}
.cont-23{z-index:3;pointer-events:auto;}
.size-25{min-width:242px;width:242px;min-height:131px;height:131px;}
.cont-24{z-index:4;pointer-events:auto;}
.pos-25{position:relative;margin-left:21px;margin-top:0;}
.cont-25{z-index:24;pointer-events:auto;}
.cont-26{z-index:29;pointer-events:none;border:0;background-color:rgb(255,253,252);box-shadow:0 0 40px rgba(0,0,0,0.2);}
.cont-27{z-index:30;pointer-events:auto;}
.size-26{min-width:242px;width:242px;min-height:131px;height:131px;}
.cont-28{z-index:31;pointer-events:auto;}
.pos-26{position:relative;margin-left:317px;margin-top:52px;}
.size-27{min-width:325px;width:325px;min-height:70px;height:70px;}
.cont-29{z-index:13;pointer-events:auto;}
.font-10{font-family:"Helvetica Neue", sans-serif;font-size:32px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:55px;letter-spacing:normal;text-shadow:none;}
.pos-27{position:relative;margin-left:76px;margin-top:0;}
.size-28{min-width:810px;width:810px;min-height:330px;height:330px;}
.cont-30{z-index:15;pointer-events:auto;}
.font-11{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.pos-28{position:relative;margin-left:318px;margin-top:0;}
.cont-31{z-index:32;pointer-events:auto;}
.font-12{font-family:"Helvetica Neue", sans-serif;font-size:48px;font-weight:700;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:83px;letter-spacing:normal;text-shadow:none;}
.pos-29{position:relative;margin-left:118px;margin-top:0;}
.size-29{min-width:726px;width:726px;min-height:96px;height:96px;}
.cont-32{z-index:7;pointer-events:auto;}
.font-13{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-30{position:relative;margin-left:118px;margin-top:52px;}
.size-30{min-width:726px;width:726px;min-height:96px;height:96px;}
.cont-33{z-index:8;pointer-events:auto;}
.font-14{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
@media (max-width:959px) {
.size{min-width:320px;min-height:246px;}
.pos-2{margin-top:28px;}
.section{min-width:320px;width:320px;}
.pos-3{margin-left:32px;}
.size-2{min-width:263px;width:263px;min-height:32px;}
.pos-4{margin-left:189px;margin-top:5px;}
.size-3{min-width:74px;width:74px;min-height:21px;height:21px;}
.font{font-size:10px;line-height:17px;}
.pos-5{margin-left:92px;margin-top:-26px;}
.size-4{min-width:80px;width:80px;min-height:32px;height:32px;}
.img{width:80px;height:32px;}
.img-2{width:80px;height:32px;}
.pos-6{margin-left:-172px;margin-top:-21px;}
.size-5{min-width:74px;width:74px;min-height:21px;height:21px;}
.pos-7{margin-left:21px;margin-top:19px;}
.size-6{min-width:274px;width:274px;min-height:130px;}
.size-7{min-width:130px;width:130px;min-height:130px;height:130px;}
.img-3{width:130px;height:130px;}
.img-4{width:130px;height:130px;}
.pos-9{margin-left:15px;margin-top:17px;}
.size-8{min-width:129px;width:129px;min-height:95px;}
.size-9{min-width:126px;width:126px;min-height:83px;height:83px;}
.font-2{font-size:17px;line-height:21px;}
.font-3{font-size:17px;line-height:20px;}
.pos-10{margin-top:-10px;}
.size-10{min-width:129px;width:129px;min-height:22px;}
.pos-11{margin-top:1px;}
.size-11{min-width:70px;width:70px;min-height:21px;height:21px;}
.img-5{width:70px;height:21px;}
.pos-12{margin-left:5px;}
.size-12{min-width:54px;width:54px;min-height:21px;height:21px;}
.img-6{width:54px;height:20px;top:1px;}
.img-7{width:54px;height:20px;top:1px;}
.pos-13{margin-top:13px;}
.section-2{min-width:320px;width:320px;}
.pos-14{margin-left:124px;}
.size-13{min-width:76px;width:76px;min-height:17px;}
.pos-15{margin-top:1px;}
.size-14{min-width:13px;width:13px;min-height:14px;height:14px;}
.img-8{width:13px;height:14px;top:0;}
.img-9{width:13px;height:14px;top:0;}
.pos-16{margin-left:7px;}
.size-15{min-width:14px;width:14px;min-height:17px;height:17px;}
.img-10{width:14px;height:15px;top:1px;}
.img-11{width:14px;height:15px;top:1px;}
.pos-17{margin-left:6px;margin-top:0;}
.size-16{min-width:15px;width:15px;min-height:16px;height:16px;}
.img-12{width:15px;height:16px;}
.img-13{width:15px;height:16px;}
.pos-18{margin-left:6px;margin-top:1px;}
.size-17{min-width:15px;width:15px;min-height:14px;height:14px;}
.img-14{width:15px;height:14px;}
.pos-19{margin-left:-93px;margin-top:28px;}
.size-18{min-width:108px;width:108px;min-height:30px;height:30px;}
.font-4{font-size:16px;line-height:28px;}
.pos-20{margin-left:26px;}
.size-19{min-width:270px;width:270px;min-height:50px;height:50px;}
.font-5{font-size:10px;line-height:16px;}
.font-6{font-size:10px;line-height:17px;}
.font-7{font-size:10px;line-height:17px;}
.pos-21{margin-left:71px;margin-top:9px;}
.size-20{min-width:174px;width:174px;min-height:30px;height:30px;}
.pos-22{margin-left:5px;margin-top:7px;}
.size-21{min-width:311px;width:311px;min-height:134px;}
.size-22{min-width:101px;width:101px;min-height:134px;}
.size-23{min-width:101px;width:101px;min-height:83px;height:83px;}
.img-15{width:101px;height:83px;}
.img-16{width:101px;height:83px;}
.pos-23{margin-left:10px;margin-top:6px;}
.size-24{min-width:82px;width:82px;min-height:39px;height:39px;}
.font-8{font-size:6px;line-height:10px;}
.font-9{font-size:6px;line-height:18px;}
.pos-24{margin-left:109px;}
.size-25{min-width:82px;width:82px;min-height:41px;height:41px;}
.pos-25{margin-left:105px;margin-top:-134px;}
.size-26{min-width:82px;width:82px;min-height:40px;height:40px;}
.pos-26{margin-left:106px;margin-top:8px;}
.size-27{min-width:108px;width:108px;min-height:26px;height:26px;}
.font-10{font-size:13px;line-height:23px;}
.pos-27{margin-left:25px;}
.size-28{min-width:270px;width:270px;min-height:124px;height:124px;}
.font-11{font-size:8px;line-height:13px;}
.pos-28{margin-left:106px;}
.font-12{font-size:16px;line-height:28px;}
.pos-29{margin-left:73px;}
.size-29{min-width:175px;width:175px;min-height:32px;height:32px;}
.font-13{font-size:11px;line-height:12px;}
.pos-30{margin-left:39px;margin-top:1px;}
.size-30{min-width:242px;width:242px;min-height:32px;height:32px;}
.font-14{font-size:8px;line-height:13px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-640-1.jpg);}
}
@media (max-width:959px) and (-webkit-min-device-pixel-ratio:2), (max-width:959px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-640-1.jpg);}
}
@media (min-width:320px) {
.cont{background-image:url(../images/7th-17-480-1.jpg);}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-960-2.jpg);}
}
@media (min-width:480px) {
.cont{background-image:url(../images/7th-17-768-1.jpg);}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-1536-1.jpg);}
}
@media (min-width:768px) {
.cont{background-image:url(../images/7th-17-960-3.jpg);}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-1920-1.jpg);}
}
@media (min-width:960px) {
.cont{background-image:url(../images/7th-17-1200-1.jpg);}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-2400-1.jpg);}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/7th-17-1600-1.jpg);}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-3200-1.jpg);}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/7th-17-2000-1.jpg);}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/7th-17-4000-1.jpg);}
}
#body-2{background-color:rgb(255,253,252);}
.size-31{width:100%;min-width:960px;min-height:137px;}
.cont-34{z-index:1;pointer-events:none;border:0;overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/circuits-1-320-1.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 100%;background-size:cover;background-clip:padding-box;}
.pos-31{position:relative;margin-top:41px;}
.size-32{min-width:472px;width:472px;min-height:55px;}
.size-33{min-width:102px;width:102px;min-height:27px;height:27px;}
.font-15{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:25px;letter-spacing:2.23px;text-shadow:none;}
.pos-32{position:relative;margin-left:69px;margin-top:0;}
.size-34{min-width:138px;width:138px;min-height:55px;height:55px;}
.img-17{position:absolute;left:0;width:138px;height:55px;top:0;border:0;}
.img-18{left:0;width:138px;height:55px;top:0;display:inline-block;}
.pos-33{position:relative;margin-left:69px;margin-top:14px;}
.size-35{min-width:94px;width:94px;min-height:27px;height:27px;}
.cont-35{z-index:2;pointer-events:auto;}
.pos-34{position:relative;margin-top:29px;}
.pos-35{position:relative;margin-left:317px;margin-top:0;}
.size-36{min-width:325px;width:325px;min-height:91px;height:91px;}
.pos-36{position:relative;margin-left:42px;margin-top:45px;}
.size-37{min-width:863px;width:863px;min-height:353px;}
.pos-37{position:relative;margin-left:0;margin-top:1px;}
.size-38{min-width:550px;width:550px;min-height:352px;height:352px;}
.cont-36{pointer-events:auto;}
.img-19{position:absolute;left:0;width:550px;height:352px;top:0;border:0;}
.img-20{left:0;width:550px;height:352px;top:0;display:inline-block;}
.pos-38{position:relative;margin-left:81px;margin-top:0;}
.size-39{min-width:232px;width:232px;min-height:353px;height:353px;}
.img-21{position:absolute;left:0;width:232px;height:353px;top:0;border:0;}
.img-22{left:0;width:232px;height:353px;top:0;display:inline-block;}
.pos-39{position:relative;margin-left:42px;margin-top:43px;}
.size-40{min-width:865px;width:865px;min-height:353px;}
.size-41{min-width:236px;width:236px;min-height:352px;height:352px;}
.img-23{position:absolute;left:0;width:236px;height:352px;top:0;border:0;}
.img-24{left:0;width:236px;height:352px;top:0;display:inline-block;}
.pos-40{position:relative;margin-left:84px;margin-top:0;}
.size-42{min-width:236px;width:236px;min-height:353px;height:353px;}
.img-25{position:absolute;left:0;width:236px;height:353px;top:0;border:0;}
.img-26{left:0;width:236px;height:353px;top:0;display:inline-block;}
.pos-41{position:relative;margin-left:74px;margin-top:0;}
.size-43{min-width:235px;width:235px;min-height:352px;height:352px;}
.img-27{position:absolute;left:0;width:235px;height:352px;top:0;border:0;}
.img-28{left:0;width:235px;height:352px;top:0;display:inline-block;}
.pos-42{position:relative;margin-left:43px;margin-top:48px;}
.size-44{min-width:862px;width:862px;min-height:353px;}
.pos-43{position:relative;margin-left:0;margin-top:1px;}
.size-45{min-width:235px;width:235px;min-height:352px;height:352px;}
.img-29{position:absolute;left:0;width:235px;height:352px;top:0;border:0;}
.img-30{left:0;width:235px;height:352px;top:0;display:inline-block;}
.pos-44{position:relative;margin-left:77px;margin-top:0;}
.size-46{min-width:550px;width:550px;min-height:353px;height:353px;}
.img-31{position:absolute;left:0;width:550px;height:353px;top:0;border:0;}
.img-32{left:0;width:550px;height:353px;top:0;display:inline-block;}
.pos-45{position:relative;margin-left:42px;margin-top:45px;}
.size-47{min-width:863px;width:863px;min-height:353px;}
.pos-46{position:relative;margin-left:81px;margin-top:4px;}
.size-48{min-width:232px;width:232px;min-height:349px;height:349px;}
.img-33{position:absolute;left:0;width:232px;height:349px;top:0;border:0;}
.img-34{left:0;width:232px;height:349px;top:0;display:inline-block;}
.pos-47{position:relative;margin-left:42px;margin-top:45px;}
.size-49{min-width:866px;width:866px;min-height:353px;}
.pos-48{position:relative;margin-left:80px;margin-top:0;}
.size-50{min-width:236px;width:236px;min-height:353px;height:353px;}
.img-35{position:absolute;left:0;width:236px;height:353px;top:0;border:0;}
.img-36{left:0;width:236px;height:353px;top:0;display:inline-block;}
.pos-49{position:relative;margin-left:80px;margin-top:0;}
.size-51{min-width:235px;width:235px;min-height:353px;height:353px;}
.img-37{position:absolute;left:0;width:235px;height:353px;top:0;border:0;}
.img-38{left:0;width:235px;height:353px;top:0;display:inline-block;}
.pos-50{position:relative;margin-left:42px;margin-top:45px;}
.size-52{min-width:867px;width:867px;min-height:352px;}
.size-53{min-width:235px;width:235px;min-height:352px;height:352px;}
.img-39{position:absolute;left:0;width:235px;height:352px;top:0;border:0;}
.img-40{left:0;width:235px;height:352px;top:0;display:inline-block;}
.pos-51{position:relative;margin-left:82px;margin-top:0;}
.size-54{min-width:550px;width:550px;min-height:351px;height:351px;}
.img-41{position:absolute;left:0;width:550px;height:351px;top:0;border:0;}
.img-42{left:0;width:550px;height:351px;top:0;display:inline-block;}
.size-55{min-width:859px;width:859px;min-height:353px;}
.pos-52{position:relative;margin-left:73px;margin-top:0;}
.pos-53{position:relative;margin-left:42px;margin-top:47px;}
.size-56{min-width:859px;width:859px;min-height:352px;}
.pos-54{position:relative;margin-left:74px;margin-top:1px;}
.pos-55{position:relative;margin-left:317px;margin-top:52px;}
.pos-56{position:relative;margin-left:117px;margin-top:0;}
.cont-37{z-index:25;pointer-events:auto;}
.font-16{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-57{position:relative;margin-left:117px;margin-top:52px;}
@media (max-width:959px) {
.size-31{min-width:320px;min-height:46px;}
.pos-31{margin-top:11px;}
.size-32{min-width:263px;width:263px;min-height:23px;}
.size-33{min-width:74px;width:74px;min-height:14px;height:14px;}
.font-15{font-size:8px;line-height:13px;}
.pos-32{margin-left:99px;margin-top:-19px;}
.size-34{min-width:58px;width:58px;min-height:23px;height:23px;}
.img-17{width:58px;height:23px;}
.img-18{width:58px;height:23px;}
.pos-33{margin-left:-157px;margin-top:-14px;}
.size-35{min-width:74px;width:74px;min-height:14px;height:14px;}
.pos-34{margin-top:9px;}
.pos-35{margin-left:106px;}
.size-36{min-width:108px;width:108px;min-height:31px;height:31px;}
.pos-36{margin-left:15px;margin-top:10px;}
.size-37{min-width:288px;width:288px;min-height:117px;}
.pos-37{margin-top:0;}
.size-38{min-width:183px;width:183px;min-height:117px;height:117px;}
.img-19{width:183px;height:117px;}
.img-20{width:183px;height:117px;}
.pos-38{margin-left:27px;}
.size-39{min-width:78px;width:78px;min-height:117px;height:117px;}
.img-21{width:78px;height:117px;}
.img-22{width:78px;height:117px;}
.pos-39{margin-left:15px;margin-top:14px;}
.size-40{min-width:287px;width:287px;min-height:118px;}
.size-41{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-23{width:79px;height:117px;}
.img-24{width:79px;height:117px;}
.pos-40{margin-left:25px;}
.size-42{min-width:79px;width:79px;min-height:118px;height:118px;}
.img-25{width:79px;height:118px;}
.img-26{width:79px;height:118px;}
.pos-41{margin-left:26px;margin-top:1px;}
.size-43{min-width:78px;width:78px;min-height:117px;height:117px;}
.img-27{width:78px;height:117px;}
.img-28{width:78px;height:117px;}
.pos-42{margin-left:15px;margin-top:13px;}
.size-44{min-width:287px;width:287px;min-height:118px;}
.size-45{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-29{width:79px;height:117px;}
.img-30{width:79px;height:117px;}
.pos-44{margin-left:25px;}
.size-46{min-width:183px;width:183px;min-height:118px;height:118px;}
.img-31{width:183px;height:118px;}
.img-32{width:183px;height:118px;}
.pos-45{margin-left:14px;margin-top:12px;}
.size-47{min-width:288px;width:288px;min-height:118px;}
.pos-46{margin-left:27px;margin-top:0;}
.size-48{min-width:78px;width:78px;min-height:116px;height:116px;}
.img-33{width:78px;height:116px;}
.img-34{width:78px;height:116px;}
.pos-47{margin-left:14px;margin-top:19px;}
.size-49{min-width:289px;width:289px;min-height:117px;}
.pos-48{margin-left:27px;}
.size-50{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-35{width:79px;height:117px;}
.img-36{width:79px;height:117px;}
.pos-49{margin-left:26px;}
.size-51{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-37{width:79px;height:117px;}
.img-38{width:79px;height:117px;}
.pos-50{margin-left:14px;margin-top:15px;}
.size-52{min-width:289px;width:289px;min-height:118px;}
.size-53{min-width:78px;width:78px;min-height:118px;height:118px;}
.img-39{width:78px;height:117px;top:1px;}
.img-40{width:78px;height:117px;top:1px;}
.pos-51{margin-left:28px;}
.size-54{min-width:183px;width:183px;min-height:117px;height:117px;}
.img-41{width:183px;height:117px;}
.img-42{width:183px;height:117px;}
.size-55{min-width:288px;width:288px;min-height:117px;}
.pos-52{margin-left:26px;}
.pos-53{margin-left:14px;margin-top:16px;}
.size-56{min-width:288px;width:288px;min-height:117px;}
.pos-54{margin-left:27px;margin-top:0;}
.pos-55{margin-left:106px;margin-top:12px;}
.pos-56{margin-left:73px;}
.font-16{font-size:11px;line-height:13px;}
.pos-57{margin-left:39px;margin-top:17px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-640-1.jpg);background-attachment:fixed;}
}
@media (max-width:959px) and (-webkit-min-device-pixel-ratio:2), (max-width:959px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-640-1.jpg);background-attachment:fixed;}
}
@media (min-width:320px) {
.fixed{background-image:url(../images/circuits-1-480-1.jpg);background-attachment:fixed;}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-960-2.jpg);background-attachment:fixed;}
}
@media (min-width:480px) {
.fixed{background-image:url(../images/circuits-1-768-1.jpg);background-attachment:fixed;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-1536-1.jpg);background-attachment:fixed;}
}
@media (min-width:768px) {
.fixed{background-image:url(../images/circuits-1-960-3.jpg);background-attachment:fixed;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-1920-1.jpg);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed{background-image:url(../images/circuits-1-1200-1.jpg);background-attachment:fixed;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-2400-1.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/circuits-1-1600-1.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-3200-1.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/circuits-1-2000-1.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-4000-1.jpg);background-attachment:fixed;}
}
.pos-58{position:relative;margin-left:126px;margin-top:35px;}
.size-57{min-width:705px;width:705px;min-height:186px;}
.size-58{min-width:331px;width:331px;min-height:186px;}
.video{width:331px;height:186px;}
.pos-59{position:relative;margin-left:43px;margin-top:0;}
.pos-60{position:relative;margin-left:126px;margin-top:25px;}
.size-59{min-width:705px;width:705px;min-height:33px;}
.size-60{min-width:331px;width:331px;min-height:33px;height:33px;}
.font-17{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:2.23px;text-shadow:none;}
.pos-61{position:relative;margin-left:126px;margin-top:27px;}
.size-61{min-width:705px;width:705px;min-height:186px;}
.pos-62{position:relative;margin-left:43px;margin-top:0;}
.pos-63{position:relative;margin-left:126px;margin-top:25px;}
.size-62{min-width:705px;width:705px;min-height:33px;}
.pos-64{position:relative;margin-left:317px;margin-top:29px;}
@media (max-width:959px) {
.pos-58{margin-left:43px;margin-top:11px;}
.size-57{min-width:234px;width:234px;min-height:62px;}
.size-58{min-width:110px;width:110px;min-height:62px;}
.video{width:110px;height:62px;}
.pos-59{margin-left:14px;}
.pos-60{margin-left:43px;margin-top:9px;}
.size-59{min-width:234px;width:234px;min-height:22px;}
.size-60{min-width:110px;width:110px;min-height:22px;height:22px;}
.font-17{font-size:7px;line-height:11px;}
.pos-61{margin-left:43px;margin-top:13px;}
.size-61{min-width:233px;width:233px;min-height:62px;}
.pos-62{margin-left:13px;}
.pos-63{margin-left:43px;margin-top:8px;}
.size-62{min-width:233px;width:233px;min-height:23px;}
.pos-64{margin-left:106px;margin-top:8px;}
}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.size-63{width:100%;min-width:960px;min-height:365px;}
.pos-65{position:relative;margin-top:66px;}
.pos-66{position:relative;margin-left:291px;margin-top:77px;}
.size-64{min-width:377px;width:377px;min-height:114px;height:114px;}
.font-18{font-family:"Helvetica Neue", sans-serif;font-size:47px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:57px;letter-spacing:normal;text-shadow:none;}
.font-19{font-family:"Helvetica Neue", sans-serif;font-size:28px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-67{position:relative;margin-top:17px;}
.pos-68{position:relative;margin-left:244px;margin-top:0;}
.size-65{min-width:483px;width:483px;min-height:65px;}
.cont-38{z-index:47;pointer-events:none;border:0;background-color:rgba(255,255,255,0.5);}
.pos-69{position:relative;margin-left:14px;margin-top:13px;}
.size-66{min-width:450px;width:450px;min-height:39px;}
.size-67{min-width:39px;width:39px;min-height:39px;height:39px;}
.cont-39{z-index:48;pointer-events:auto;}
.img-43{position:absolute;left:0;width:39px;height:39px;top:0;border:0;}
.img-44{left:0;width:39px;height:39px;top:0;display:inline-block;}
.pos-70{position:relative;margin-left:14px;margin-top:0;}
.size-68{min-width:364px;width:364px;min-height:39px;height:39px;}
.cont-40{z-index:49;pointer-events:auto;}
.font-20{font-family:"Helvetica Neue", sans-serif;font-size:27px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:36px;letter-spacing:normal;text-shadow:none;}
.pos-71{position:relative;margin-left:13px;margin-top:10px;}
.size-69{min-width:20px;width:20px;min-height:19px;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);height:19px;}
.cont-41{z-index:50;pointer-events:auto;}
.img-45{position:absolute;left:0;width:20px;height:19px;top:0;border:0;}
.img-46{left:0;width:20px;height:19px;top:0;display:inline-block;}
.pos-72{position:relative;margin-left:44px;margin-top:22px;}
.size-70{min-width:872px;width:872px;min-height:389px;}
.pos-73{position:relative;margin-left:0;margin-top:1px;}
.size-71{min-width:388px;width:388px;min-height:387px;height:387px;}
.img-47{position:absolute;left:0;width:388px;height:387px;top:0;border:0;}
.img-48{left:0;width:388px;height:387px;top:0;display:inline-block;}
.pos-74{position:relative;margin-left:387px;margin-top:-388px;}
.size-72{min-width:485px;width:485px;min-height:389px;}
.size-73{min-width:485px;width:485px;min-height:67px;}
.size-74{min-width:483px;width:483px;min-height:65px;}
.cont-42{z-index:17;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-75{position:relative;margin-left:14px;margin-top:13px;}
.size-75{min-width:450px;width:450px;min-height:39px;}
.size-76{min-width:39px;width:39px;min-height:39px;height:39px;}
.img-49{position:absolute;left:0;width:39px;height:39px;top:0;border:0;}
.img-50{left:0;width:39px;height:39px;top:0;display:inline-block;}
.pos-76{position:relative;margin-left:14px;margin-top:0;}
.size-77{min-width:364px;width:364px;min-height:39px;height:39px;}
.font-21{font-family:"Helvetica Neue", sans-serif;font-size:27px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:36px;letter-spacing:normal;text-shadow:none;}
.pos-77{position:relative;margin-left:13px;margin-top:10px;}
.size-78{min-width:20px;width:20px;min-height:19px;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);height:19px;}
.img-51{position:absolute;left:0;width:20px;height:19px;top:0;border:0;}
.img-52{left:0;width:20px;height:19px;top:0;display:inline-block;}
.pos-78{position:relative;margin-left:0;margin-top:-2px;}
.size-79{min-width:485px;width:485px;min-height:67px;}
.size-80{min-width:483px;width:483px;min-height:65px;}
.cont-43{z-index:22;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-79{position:relative;margin-left:15px;margin-top:13px;}
.size-81{min-width:449px;width:449px;min-height:39px;}
.size-82{min-width:38px;width:38px;min-height:38px;height:38px;}
.img-53{position:absolute;left:0;width:38px;height:38px;top:0;border:0;}
.img-54{left:0;width:38px;height:38px;top:0;display:inline-block;}
.pos-80{position:relative;margin-left:14px;margin-top:0;}
.size-83{min-width:364px;width:364px;min-height:39px;height:39px;}
.pos-81{position:relative;margin-left:13px;margin-top:10px;}
.cont-44{z-index:36;pointer-events:auto;}
.cont-45{z-index:42;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-82{position:relative;margin-left:15px;margin-top:13px;}
.size-84{min-width:449px;width:449px;min-height:39px;}
.size-85{min-width:38px;width:38px;min-height:38px;height:38px;}
.cont-46{z-index:43;pointer-events:auto;}
.img-55{position:absolute;left:0;width:38px;height:38px;top:0;border:0;}
.img-56{left:0;width:38px;height:38px;top:0;display:inline-block;}
.pos-83{position:relative;margin-left:14px;margin-top:0;}
.size-86{min-width:364px;width:364px;min-height:39px;height:39px;}
.cont-47{z-index:44;pointer-events:auto;}
.pos-84{position:relative;margin-left:13px;margin-top:10px;}
.size-87{min-width:20px;width:20px;min-height:19px;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);height:19px;}
.cont-48{z-index:45;pointer-events:auto;}
.img-57{position:absolute;left:0;width:20px;height:19px;top:0;border:0;}
.img-58{left:0;width:20px;height:19px;top:0;display:inline-block;}
.cont-49{z-index:27;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-85{position:relative;margin-left:15px;margin-top:12px;}
.size-88{min-width:449px;width:449px;min-height:41px;}
.size-89{min-width:38px;width:38px;min-height:41px;height:41px;}
.img-59{position:absolute;left:0;width:38px;height:41px;top:0;border:0;}
.img-60{left:0;width:38px;height:41px;top:0;display:inline-block;}
.pos-86{position:relative;margin-left:14px;margin-top:1px;}
.cont-50{z-index:29;pointer-events:auto;}
.pos-87{position:relative;margin-left:13px;margin-top:11px;}
.cont-51{z-index:32;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-88{position:relative;margin-left:15px;margin-top:11px;}
.size-90{min-width:449px;width:449px;min-height:41px;}
.pos-89{position:relative;margin-left:0;margin-top:2px;}
.size-91{min-width:39px;width:39px;min-height:39px;height:39px;}
.cont-52{z-index:33;pointer-events:auto;}
.img-61{position:absolute;left:0;width:39px;height:39px;top:0;border:0;}
.img-62{left:0;width:39px;height:39px;top:0;display:inline-block;}
.pos-90{position:relative;margin-left:13px;margin-top:0;}
.size-92{min-width:364px;width:364px;min-height:39px;height:39px;}
.cont-53{z-index:34;pointer-events:auto;}
.pos-91{position:relative;margin-left:13px;margin-top:10px;}
.cont-54{z-index:35;pointer-events:auto;}
.size-93{min-width:485px;width:485px;min-height:64px;}
.cont-55{z-index:41;pointer-events:auto;}
.size-94{min-width:483px;width:483px;min-height:62px;}
.cont-56{z-index:37;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-92{position:relative;margin-left:15px;margin-top:11px;}
.size-95{min-width:449px;width:449px;min-height:40px;}
.size-96{min-width:39px;width:39px;min-height:40px;height:40px;}
.cont-57{z-index:38;pointer-events:auto;}
.img-63{position:absolute;left:0;width:39px;height:40px;top:0;border:0;}
.img-64{left:0;width:39px;height:40px;top:0;display:inline-block;}
.pos-93{position:relative;margin-left:13px;margin-top:0;}
.cont-58{z-index:39;pointer-events:auto;}
.pos-94{position:relative;margin-left:13px;margin-top:10px;}
.cont-59{z-index:40;pointer-events:auto;}
.pos-95{position:relative;margin-left:366px;margin-top:72px;}
.pos-96{position:relative;margin-left:-278px;margin-top:153px;}
.pos-97{position:relative;margin-left:76px;margin-top:0;}
.size-97{min-width:810px;width:810px;min-height:78px;height:78px;}
.font-22{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.font-23{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(220,50,47);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.cont-60{z-index:46;pointer-events:auto;}
.pos-98{position:relative;margin-left:117px;margin-top:52px;}
@media (max-width:959px) {
.size-63{min-width:320px;min-height:130px;}
.pos-65{margin-top:31px;}
.pos-66{margin-left:98px;margin-top:10px;}
.size-64{min-width:126px;width:126px;min-height:55px;height:55px;}
.font-18{font-size:16px;line-height:19px;}
.font-19{font-size:15px;line-height:18px;}
.pos-67{margin-top:5px;}
.pos-68{margin-left:96px;}
.size-65{min-width:137px;width:137px;min-height:18px;}
.pos-69{margin-left:3px;margin-top:0;}
.size-66{min-width:128px;width:128px;min-height:17px;}
.size-67{min-width:14px;width:14px;min-height:17px;height:17px;}
.img-43{width:14px;height:15px;top:1px;}
.img-44{width:14px;height:15px;top:1px;}
.pos-70{margin-left:6px;margin-top:4px;}
.size-68{min-width:87px;width:87px;min-height:11px;height:11px;}
.font-20{font-size:7px;line-height:10px;}
.pos-71{margin-left:15px;margin-top:6px;}
.size-69{min-width:6px;width:6px;min-height:6px;height:6px;}
.img-45{width:6px;height:6px;}
.img-46{width:6px;height:6px;}
.pos-72{margin-left:58px;margin-top:5px;}
.size-70{min-width:213px;width:213px;min-height:385px;}
.pos-73{margin-left:1px;margin-top:0;}
.size-71{min-width:211px;width:211px;min-height:211px;height:211px;}
.img-47{width:211px;height:211px;}
.img-48{width:211px;height:211px;}
.pos-74{margin-left:0;margin-top:-1px;}
.size-72{min-width:213px;width:213px;min-height:175px;}
.size-73{min-width:213px;width:213px;min-height:30px;}
.size-74{min-width:211px;width:211px;min-height:28px;}
.pos-75{margin-left:4px;margin-top:1px;}
.size-75{min-width:198px;width:198px;min-height:26px;}
.size-76{min-width:22px;width:22px;min-height:26px;height:26px;}
.img-49{width:22px;height:23px;top:1px;}
.img-50{width:22px;height:23px;top:1px;}
.pos-76{margin-left:9px;margin-top:5px;}
.size-77{min-width:135px;width:135px;min-height:17px;height:17px;}
.font-21{font-size:9px;line-height:12px;}
.pos-77{margin-left:23px;margin-top:9px;}
.size-78{min-width:9px;width:9px;min-height:8px;height:8px;}
.img-51{width:9px;height:8px;}
.img-52{width:9px;height:8px;}
.size-79{min-width:213px;width:213px;min-height:31px;}
.size-80{min-width:211px;width:211px;min-height:29px;}
.pos-79{margin-left:4px;margin-top:4px;}
.size-81{min-width:198px;width:198px;min-height:21px;}
.size-82{min-width:22px;width:22px;min-height:21px;height:21px;}
.img-53{width:22px;height:21px;}
.img-54{width:22px;height:21px;}
.pos-80{margin-left:8px;margin-top:3px;}
.size-83{min-width:142px;width:142px;min-height:16px;height:16px;}
.pos-81{margin-left:17px;margin-top:6px;}
.pos-82{margin-left:4px;margin-top:1px;}
.size-84{min-width:198px;width:198px;min-height:27px;}
.size-85{min-width:22px;width:22px;min-height:27px;height:27px;}
.img-55{width:22px;height:23px;top:2px;}
.img-56{width:22px;height:23px;top:2px;}
.pos-83{margin-left:8px;margin-top:6px;}
.size-86{min-width:143px;width:143px;min-height:17px;height:17px;}
.pos-84{margin-left:15px;margin-top:9px;}
.size-87{min-width:10px;width:10px;min-height:8px;height:8px;}
.img-57{left:1px;width:9px;height:8px;}
.img-58{left:1px;width:9px;height:8px;}
.pos-85{margin-left:4px;margin-top:3px;}
.size-88{min-width:198px;width:198px;min-height:23px;}
.size-89{min-width:22px;width:22px;min-height:23px;height:23px;}
.img-59{width:21px;height:23px;}
.img-60{width:21px;height:23px;}
.pos-86{margin-left:8px;margin-top:4px;}
.pos-87{margin-left:15px;margin-top:7px;}
.pos-88{margin-left:4px;margin-top:4px;}
.size-90{min-width:199px;width:199px;min-height:22px;}
.pos-89{margin-top:0;}
.size-91{min-width:22px;width:22px;min-height:22px;height:22px;}
.img-61{width:22px;height:22px;}
.img-62{width:22px;height:22px;}
.pos-90{margin-left:8px;margin-top:3px;}
.size-92{min-width:143px;width:143px;min-height:16px;height:16px;}
.pos-91{margin-left:16px;margin-top:6px;}
.size-93{min-width:213px;width:213px;min-height:31px;}
.size-94{min-width:211px;width:211px;min-height:29px;}
.pos-92{margin-left:5px;margin-top:5px;}
.size-95{min-width:198px;width:198px;min-height:22px;}
.size-96{min-width:21px;width:21px;min-height:22px;height:22px;}
.img-63{width:21px;height:22px;}
.img-64{width:21px;height:22px;}
.pos-93{margin-left:8px;margin-top:1px;}
.pos-94{margin-left:17px;margin-top:5px;}
.pos-95{margin-left:124px;margin-top:24px;}
.pos-96{margin-left:-93px;margin-top:52px;}
.pos-97{margin-left:26px;}
.size-97{min-width:270px;width:270px;min-height:28px;height:28px;}
.font-22{font-size:8px;line-height:13px;}
.font-23{font-size:8px;line-height:13px;}
.pos-98{margin-left:39px;margin-top:1px;}
}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.size-98{width:100%;min-width:960px;min-height:186px;}
.pos-99{position:relative;margin-top:29px;}
.size-99{min-width:960px;width:960px;min-height:610px;}
.pos-100{position:relative;margin-left:0;margin-top:195px;}
.size-100{min-width:166px;width:166px;min-height:144px;height:144px;}
.img-65{position:absolute;left:0;width:166px;height:144px;top:0;border:0;}
.img-66{left:0;width:166px;height:144px;top:0;display:inline-block;}
.pos-101{position:relative;margin-left:-62px;margin-top:0;}
.size-101{min-width:757px;width:757px;min-height:571px;}
.pos-102{position:relative;margin-left:76px;margin-top:0;}
.size-102{min-width:600px;width:600px;min-height:41px;height:41px;}
.font-24{font-family:"Helvetica Neue", sans-serif;font-size:22px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:38px;letter-spacing:5.53px;text-shadow:none;}
.pos-103{position:relative;margin-left:0;margin-top:-21px;}
.size-103{min-width:757px;width:757px;min-height:551px;height:551px;}
.img-67{position:absolute;left:13px;width:730px;height:551px;top:0;border:0;}
.img-68{left:13px;width:730px;height:551px;top:0;display:inline-block;}
.pos-104{position:relative;margin-left:732px;margin-top:-151px;}
.size-104{min-width:228px;width:228px;min-height:190px;height:190px;}
.img-69{position:absolute;left:0;width:228px;height:190px;top:0;border:0;}
.img-70{left:0;width:228px;height:190px;top:0;display:inline-block;}
.pos-105{position:relative;margin-left:148px;margin-top:0;}
.size-105{min-width:663px;width:663px;min-height:239px;}
.size-106{min-width:663px;width:663px;min-height:194px;height:194px;}
.font-25{font-family:"Helvetica Neue", sans-serif;font-size:22px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:38px;letter-spacing:5.53px;text-shadow:none;}
.font-26{font-family:"Helvetica Neue", sans-serif;font-size:23px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:39px;letter-spacing:0.74px;text-shadow:none;}
.font-27{font-family:"Helvetica Neue", sans-serif;font-size:23px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:39px;letter-spacing:0.74px;text-shadow:none;}
.font-28{font-family:"Helvetica Neue", sans-serif;font-size:23px;font-weight:700;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:39px;letter-spacing:0.74px;text-shadow:none;}
.pos-106{position:relative;margin-left:215px;margin-top:-6px;}
.pos-107{position:relative;margin-left:317px;margin-top:35px;}
@media (max-width:959px) {
.size-98{min-width:320px;min-height:72px;}
.pos-99{margin-top:8px;}
.size-99{min-width:320px;width:320px;min-height:235px;}
.pos-100{margin-top:97px;}
.size-100{min-width:55px;width:55px;min-height:48px;height:48px;}
.img-65{width:55px;height:48px;}
.img-66{width:55px;height:48px;}
.pos-101{margin-left:24px;margin-top:-145px;}
.size-101{min-width:273px;width:273px;min-height:222px;}
.pos-102{margin-left:0;}
.size-102{min-width:273px;width:273px;min-height:44px;height:44px;}
.font-24{font-size:12px;line-height:20px;}
.pos-103{margin-left:11px;margin-top:-6px;}
.size-103{min-width:252px;width:252px;min-height:184px;height:184px;}
.img-67{left:4px;width:244px;height:184px;}
.img-68{left:4px;width:244px;height:184px;}
.pos-104{margin-left:244px;margin-top:-50px;}
.size-104{min-width:76px;width:76px;min-height:63px;height:63px;}
.img-69{width:76px;height:63px;}
.img-70{width:76px;height:63px;}
.pos-105{margin-left:31px;}
.size-105{min-width:260px;width:260px;min-height:200px;}
.size-106{min-width:260px;width:260px;min-height:192px;height:192px;}
.font-25{font-size:14px;line-height:24px;letter-spacing:0.76px;}
.font-26{font-size:14px;line-height:24px;letter-spacing:0.76px;}
.font-27{font-size:14px;line-height:24px;letter-spacing:0.76px;}
.font-28{font-size:14px;line-height:24px;letter-spacing:0.76px;}
.pos-106{margin-left:93px;margin-top:-9px;}
.pos-107{margin-left:106px;margin-top:8px;}
}
