html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/* patterns from subtlepatterns.com */
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
#body{background-color:rgb(255,253,252);background:rgb(255,253,252) url(../images/ricepaper2.png) repeat center top;}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:562px;}
.cont{z-index:1;pointer-events:none;border:0;overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/circuits-1-320.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 0;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:66px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:240px;margin-top:0;}
.size-2{min-width:472px;width:472px;min-height:55px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-4{position:relative;margin-left:0;margin-top:14px;}
.size-3{min-width:102px;width:102px;min-height:27px;height:27px;}
.cont-3{z-index:5;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:25px;letter-spacing:2.23px;text-shadow:none;}
.pos-5{position:relative;margin-left:69px;margin-top:0;}
.size-4{min-width:138px;width:138px;min-height:55px;height:55px;}
.cont-4{z-index:3;pointer-events:auto;}
.anchor{display:block;}
.img{position:absolute;left:0;width:138px;height:55px;top:0;border:0;}
.img-2{left:0;width:138px;height:55px;top:0;display:inline-block;}
.pos-6{position:relative;margin-left:69px;margin-top:14px;}
.size-5{min-width:94px;width:94px;min-height:27px;height:27px;}
.cont-5{z-index:2;pointer-events:auto;}
.pos-7{position:relative;margin-left:132px;margin-top:60px;}
.size-6{min-width:794px;width:794px;min-height:339px;}
.pos-8{position:relative;margin-left:0;margin-top:0;}
.size-7{min-width:340px;width:340px;min-height:339px;height:339px;}
.cont-6{z-index:6;pointer-events:auto;}
.img-3{position:absolute;left:0;width:340px;height:339px;top:0;border:0;}
.img-4{left:0;width:340px;height:339px;top:0;display:inline-block;}
.pos-9{position:relative;margin-left:77px;margin-top:67px;}
.size-8{min-width:377px;width:377px;min-height:177px;}
.colwrapper{line-height:0;}
.size-9{min-width:377px;width:377px;min-height:123px;height:123px;}
.cont-7{z-index:7;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:26px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:37px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:45px;letter-spacing:normal;text-shadow:none;}
.font-4{font-family:"Helvetica Neue", sans-serif;font-size:31px;font-weight:100;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:37px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:0;margin-top:20px;}
.size-10{min-width:219px;width:219px;min-height:34px;}
.size-11{min-width:118px;width:118px;min-height:34px;height:34px;}
.cont-8{z-index:12;pointer-events:auto;}
.img-5{position:absolute;left:0;width:118px;height:34px;top:0;}
.pos-11{position:relative;margin-left:9px;margin-top:0;}
.size-12{min-width:92px;width:92px;min-height:34px;height:34px;}
.cont-9{z-index:13;pointer-events:auto;}
.img-6{position:absolute;left:0;width:92px;height:34px;top:0;border:0;}
.img-7{left:0;width:92px;height:34px;top:0;display:inline-block;}
.pos-12{position:relative;margin-top:25px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-13{position:relative;margin-left:364px;margin-top:0;}
.size-13{min-width:229px;width:229px;min-height:51px;}
.pos-14{position:relative;margin-left:0;margin-top:4px;}
.size-14{min-width:39px;width:39px;min-height:43px;height:43px;}
.cont-10{z-index:14;pointer-events:auto;}
.img-8{position:absolute;left:0;width:39px;height:40px;top:1px;border:0;}
.img-9{left:0;width:39px;height:40px;top:1px;display:inline-block;}
.pos-15{position:relative;margin-left:20px;margin-top:0;}
.size-15{min-width:41px;width:41px;min-height:51px;height:51px;}
.cont-11{z-index:16;pointer-events:auto;}
.img-10{position:absolute;left:0;width:41px;height:42px;top:4px;border:0;}
.img-11{left:0;width:41px;height:42px;top:4px;display:inline-block;}
.pos-16{position:relative;margin-left:19px;margin-top:2px;}
.size-16{min-width:46px;width:46px;min-height:47px;height:47px;}
.cont-12{z-index:17;pointer-events:auto;}
.img-12{position:absolute;left:0;width:46px;height:47px;top:0;border:0;}
.img-13{left:0;width:46px;height:47px;top:0;display:inline-block;}
.pos-17{position:relative;margin-left:21px;margin-top:4px;}
.size-17{min-width:43px;width:43px;min-height:43px;height:43px;}
.cont-13{z-index:18;pointer-events:auto;}
.img-14{position:absolute;left:0;width:43px;height:43px;top:0;}
.pos-18{position:relative;margin-left:-276px;margin-top:73px;}
.size-18{min-width:325px;width:325px;min-height:91px;height:91px;}
.cont-14{z-index:15;pointer-events:auto;}
.font-5{font-family:"Helvetica Neue", sans-serif;font-size:48px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:83px;letter-spacing:normal;text-shadow:none;}
.pos-19{position:relative;margin-left:76px;margin-top:0;}
.size-19{min-width:810px;width:810px;min-height:78px;height:78px;}
.cont-15{z-index:8;pointer-events:auto;}
.font-6{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.font-7{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:32px;letter-spacing:normal;text-shadow:none;}
.font-8{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.pos-20{position:relative;margin-left:0;margin-top:37px;}
.size-20{min-width:960px;width:960px;min-height:279px;height:279px;}
.cont-16{z-index:19;border:0;background-image:url(../images/facebook-header-copy-960.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-21{position:relative;margin-left:317px;margin-top:29px;}
.size-21{min-width:325px;width:325px;min-height:70px;height:70px;}
.cont-17{z-index:20;pointer-events:auto;}
.font-9{font-family:"Helvetica Neue", sans-serif;font-size:32px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:55px;letter-spacing:normal;text-shadow:none;}
.pos-22{position:relative;margin-left:76px;margin-top:0;}
.size-22{min-width:810px;width:810px;min-height:297px;height:297px;}
.cont-18{z-index:9;pointer-events:auto;}
.pos-23{position:relative;margin-left:317px;margin-top:0;}
.cont-19{z-index:10;pointer-events:auto;}
.font-10{font-family:"Helvetica Neue", sans-serif;font-size:48px;font-weight:700;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:83px;letter-spacing:normal;text-shadow:none;}
.pos-24{position:relative;margin-left:117px;margin-top:0;}
.size-23{min-width:726px;width:726px;min-height:96px;height:96px;}
.cont-20{z-index:4;pointer-events:auto;}
.font-11{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-25{position:relative;margin-left:117px;margin-top:52px;}
.size-24{min-width:726px;width:726px;min-height:96px;height:96px;}
.cont-21{z-index:11;pointer-events:auto;}
.font-12{font-family:"Helvetica Neue", sans-serif;font-size:19px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
@media (max-width:959px) {
.size{min-width:320px;min-height:246px;}
.pos-2{margin-top:31px;}
.section{min-width:320px;width:320px;}
.pos-3{margin-left:32px;}
.size-2{min-width:263px;width:263px;min-height:23px;}
.pos-4{margin-left:189px;margin-top:5px;}
.size-3{min-width:74px;width:74px;min-height:14px;height:14px;}
.font{font-size:8px;line-height:13px;}
.pos-5{margin-left:99px;margin-top:-19px;}
.size-4{min-width:58px;width:58px;min-height:23px;height:23px;}
.img{width:58px;height:23px;}
.img-2{width:58px;height:23px;}
.pos-6{margin-left:-157px;margin-top:-14px;}
.size-5{min-width:74px;width:74px;min-height:14px;height:14px;}
.pos-7{margin-left:39px;margin-top:28px;}
.size-6{min-width:270px;width:270px;min-height:116px;}
.size-7{min-width:116px;width:116px;min-height:116px;height:116px;}
.img-3{width:116px;height:116px;}
.img-4{width:116px;height:116px;}
.pos-9{margin-left:28px;margin-top:14px;}
.size-8{min-width:126px;width:126px;min-height:83px;}
.size-9{min-width:126px;width:126px;min-height:83px;height:83px;}
.font-2{font-size:11px;line-height:13px;}
.font-3{font-size:11px;line-height:13px;}
.font-4{font-size:11px;line-height:12px;}
.pos-10{margin-top:-33px;}
.size-10{min-width:73px;width:73px;min-height:12px;}
.size-11{min-width:39px;width:39px;min-height:12px;height:12px;}
.img-5{width:39px;height:12px;}
.pos-11{margin-left:3px;}
.size-12{min-width:31px;width:31px;min-height:12px;height:12px;}
.img-6{width:31px;height:12px;}
.img-7{width:31px;height:12px;}
.pos-12{margin-top:13px;}
.section-2{min-width:320px;width:320px;}
.pos-13{margin-left:124px;}
.size-13{min-width:76px;width:76px;min-height:17px;}
.pos-14{margin-top:1px;}
.size-14{min-width:13px;width:13px;min-height:14px;height:14px;}
.img-8{width:13px;height:14px;top:0;}
.img-9{width:13px;height:14px;top:0;}
.pos-15{margin-left:7px;}
.size-15{min-width:14px;width:14px;min-height:17px;height:17px;}
.img-10{width:14px;height:15px;top:1px;}
.img-11{width:14px;height:15px;top:1px;}
.pos-16{margin-left:6px;margin-top:0;}
.size-16{min-width:15px;width:15px;min-height:16px;height:16px;}
.img-12{width:15px;height:16px;}
.img-13{width:15px;height:16px;}
.pos-17{margin-left:6px;margin-top:1px;}
.size-17{min-width:15px;width:15px;min-height:14px;height:14px;}
.img-14{width:15px;height:14px;}
.pos-18{margin-left:-93px;margin-top:28px;}
.size-18{min-width:108px;width:108px;min-height:30px;height:30px;}
.font-5{font-size:16px;line-height:28px;}
.pos-19{margin-left:26px;}
.size-19{min-width:270px;width:270px;min-height:28px;height:28px;}
.font-6{font-size:8px;line-height:13px;}
.font-7{font-size:8px;line-height:13px;}
.font-8{font-size:8px;font-weight:200;line-height:13px;}
.pos-20{margin-top:0;}
.size-20{min-width:320px;width:320px;min-height:125px;height:125px;}
.cont-16{background-image:url(../images/facebook-header-copy-320.jpg);}
.pos-21{margin-left:106px;margin-top:11px;}
.size-21{min-width:108px;width:108px;min-height:26px;height:26px;}
.font-9{font-size:13px;line-height:23px;}
.pos-22{margin-left:25px;}
.size-22{min-width:270px;width:270px;min-height:99px;height:99px;}
.pos-23{margin-left:106px;}
.font-10{font-size:16px;line-height:28px;}
.pos-24{margin-left:73px;}
.size-23{min-width:175px;width:175px;min-height:32px;height:32px;}
.font-11{font-size:11px;line-height:13px;}
.pos-25{margin-left:39px;margin-top:1px;}
.size-24{min-width:242px;width:242px;min-height:32px;height:32px;}
.font-12{font-size:8px;line-height:13px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-640.jpg);background-attachment:fixed;}
.cont-16{background-image:url(../images/facebook-header-copy-1920.jpg);background-size:cover;}
}
@media (max-width:959px) and (-webkit-min-device-pixel-ratio:2), (max-width:959px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-640.jpg);background-attachment:fixed;}
.cont-16{background-image:url(../images/facebook-header-copy-640.jpg);background-size:cover;}
}
@media (min-width:320px) {
.fixed{background-image:url(../images/circuits-1-480.jpg);background-attachment:fixed;}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-960.jpg);background-attachment:fixed;}
}
@media (min-width:480px) {
.fixed{background-image:url(../images/circuits-1-768.jpg);background-attachment:fixed;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-1536.jpg);background-attachment:fixed;}
}
@media (min-width:768px) {
.fixed{background-image:url(../images/circuits-1-960-1.jpg);background-attachment:fixed;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-1920.jpg);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed{background-image:url(../images/circuits-1-1200.jpg);background-attachment:fixed;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-2400.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/circuits-1-1600.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-3200.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/circuits-1-2000.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/circuits-1-4000.jpg);background-attachment:fixed;}
}
#body-2{background-color:rgb(255,253,252);}
.size-25{width:100%;min-width:960px;min-height:137px;}
.fixed-2{background-attachment:fixed;background-image:url(../images/circuits-1-320-1.jpg);background-color:rgb(184,200,210);background-repeat:no-repeat;background-position:50% 100%;background-size:cover;background-clip:padding-box;}
.pos-26{position:relative;margin-top:41px;}
.pos-27{position:relative;margin-top:29px;}
.size-26{min-width:325px;width:325px;min-height:91px;height:91px;}
.cont-22{z-index:19;pointer-events:auto;}
.pos-28{position:relative;margin-left:42px;margin-top:30px;}
.size-27{min-width:866px;width:866px;min-height:352px;}
.size-28{min-width:235px;width:235px;min-height:352px;height:352px;}
.cont-23{pointer-events:auto;}
.img-15{position:absolute;left:0;width:235px;height:352px;top:0;border:0;}
.img-16{left:0;width:235px;height:352px;top:0;display:inline-block;}
.pos-29{position:relative;margin-left:80px;margin-top:0;}
.pos-30{position:relative;margin-left:81px;margin-top:0;}
.size-29{min-width:235px;width:235px;min-height:352px;height:352px;}
.img-17{position:absolute;left:0;width:235px;height:352px;top:0;border:0;}
.img-18{left:0;width:235px;height:352px;top:0;display:inline-block;}
.pos-31{position:relative;margin-left:42px;margin-top:45px;}
.size-30{min-width:867px;width:867px;min-height:353px;}
.size-31{min-width:550px;width:550px;min-height:353px;height:353px;}
.img-19{position:absolute;left:0;width:550px;height:353px;top:0;border:0;}
.img-20{left:0;width:550px;height:353px;top:0;display:inline-block;}
.size-32{min-width:236px;width:236px;min-height:353px;height:353px;}
.img-21{position:absolute;left:0;width:236px;height:353px;top:0;border:0;}
.img-22{left:0;width:236px;height:353px;top:0;display:inline-block;}
.size-33{min-width:866px;width:866px;min-height:353px;}
.pos-32{position:relative;margin-left:0;margin-top:1px;}
.size-34{min-width:236px;width:236px;min-height:353px;height:353px;}
.img-23{position:absolute;left:0;width:236px;height:353px;top:0;border:0;}
.img-24{left:0;width:236px;height:353px;top:0;display:inline-block;}
.pos-33{position:relative;margin-left:80px;margin-top:0;}
.size-35{min-width:235px;width:235px;min-height:353px;height:353px;}
.img-25{position:absolute;left:0;width:235px;height:353px;top:0;border:0;}
.img-26{left:0;width:235px;height:353px;top:0;display:inline-block;}
.size-36{min-width:867px;width:867px;min-height:352px;}
.size-37{min-width:235px;width:235px;min-height:352px;height:352px;}
.img-27{position:absolute;left:0;width:235px;height:352px;top:0;border:0;}
.img-28{left:0;width:235px;height:352px;top:0;display:inline-block;}
.pos-34{position:relative;margin-left:82px;margin-top:0;}
.size-38{min-width:550px;width:550px;min-height:351px;height:351px;}
.img-29{position:absolute;left:0;width:550px;height:351px;top:0;border:0;}
.img-30{left:0;width:550px;height:351px;top:0;display:inline-block;}
.pos-35{position:relative;margin-left:42px;margin-top:46px;}
.pos-36{position:relative;margin-left:317px;margin-top:52px;}
.cont-24{z-index:22;pointer-events:auto;}
.pos-37{position:relative;margin-left:117px;margin-top:52px;}
.cont-25{z-index:23;pointer-events:auto;}
@media (max-width:959px) {
.size-25{min-width:320px;min-height:46px;}
.pos-26{margin-top:11px;}
.pos-27{margin-top:9px;}
.size-26{min-width:108px;width:108px;min-height:31px;height:31px;}
.pos-28{margin-left:14px;margin-top:10px;}
.size-27{min-width:289px;width:289px;min-height:117px;}
.size-28{min-width:78px;width:78px;min-height:117px;height:117px;}
.img-15{width:78px;height:117px;}
.img-16{width:78px;height:117px;}
.pos-29{margin-left:27px;}
.pos-30{margin-left:27px;}
.size-29{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-17{width:79px;height:117px;}
.img-18{width:79px;height:117px;}
.pos-31{margin-left:14px;margin-top:15px;}
.size-30{min-width:289px;width:289px;min-height:118px;}
.size-31{min-width:183px;width:183px;min-height:118px;height:118px;}
.img-19{width:183px;height:118px;}
.img-20{width:183px;height:118px;}
.size-32{min-width:79px;width:79px;min-height:118px;height:118px;}
.img-21{width:79px;height:118px;}
.img-22{width:79px;height:118px;}
.size-33{min-width:289px;width:289px;min-height:117px;}
.pos-32{margin-top:0;}
.size-34{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-23{width:79px;height:117px;}
.img-24{width:79px;height:117px;}
.pos-33{margin-left:26px;}
.size-35{min-width:79px;width:79px;min-height:117px;height:117px;}
.img-25{width:79px;height:117px;}
.img-26{width:79px;height:117px;}
.size-36{min-width:289px;width:289px;min-height:118px;}
.size-37{min-width:78px;width:78px;min-height:118px;height:118px;}
.img-27{width:78px;height:118px;}
.img-28{width:78px;height:118px;}
.pos-34{margin-left:28px;}
.size-38{min-width:183px;width:183px;min-height:117px;height:117px;}
.img-29{width:183px;height:117px;}
.img-30{width:183px;height:117px;}
.pos-35{margin-left:14px;margin-top:16px;}
.pos-36{margin-left:106px;margin-top:18px;}
.pos-37{margin-left:39px;margin-top:17px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-640-1.jpg);background-attachment:fixed;}
}
@media (max-width:959px) and (-webkit-min-device-pixel-ratio:2), (max-width:959px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-640-1.jpg);background-attachment:fixed;}
}
@media (min-width:320px) {
.fixed-2{background-image:url(../images/circuits-1-480-1.jpg);background-attachment:fixed;}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-960-2.jpg);background-attachment:fixed;}
}
@media (min-width:480px) {
.fixed-2{background-image:url(../images/circuits-1-768-1.jpg);background-attachment:fixed;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-1536-1.jpg);background-attachment:fixed;}
}
@media (min-width:768px) {
.fixed-2{background-image:url(../images/circuits-1-960-3.jpg);background-attachment:fixed;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-1920-1.jpg);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed-2{background-image:url(../images/circuits-1-1200-1.jpg);background-attachment:fixed;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-2400-1.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed-2{background-image:url(../images/circuits-1-1600-1.jpg);background-attachment:fixed;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-3200-1.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed-2{background-image:url(../images/circuits-1-2000-1.jpg);background-attachment:fixed;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.fixed-2{background-image:url(../images/circuits-1-4000-1.jpg);background-attachment:fixed;}
}
.pos-38{position:relative;margin-left:129px;margin-top:35px;}
.size-39{min-width:702px;width:702px;min-height:186px;}
.size-40{min-width:331px;width:331px;min-height:186px;}
.video{width:331px;height:186px;}
.pos-39{position:relative;margin-left:40px;margin-top:0;}
.pos-40{position:relative;margin-left:129px;margin-top:25px;}
.size-41{min-width:702px;width:702px;min-height:33px;}
.size-42{min-width:331px;width:331px;min-height:33px;height:33px;}
.font-13{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:2.23px;text-shadow:none;}
.pos-41{position:relative;margin-left:314px;margin-top:27px;}
.pos-42{position:relative;margin-left:314px;margin-top:25px;}
.pos-43{position:relative;margin-left:317px;margin-top:29px;}
@media (max-width:959px) {
.pos-38{margin-left:43px;margin-top:11px;}
.size-39{min-width:234px;width:234px;min-height:62px;}
.size-40{min-width:110px;width:110px;min-height:62px;}
.video{width:110px;height:62px;}
.pos-39{margin-left:14px;}
.pos-40{margin-left:43px;margin-top:9px;}
.size-41{min-width:234px;width:234px;min-height:22px;}
.size-42{min-width:110px;width:110px;min-height:22px;height:22px;}
.font-13{font-size:7px;line-height:11px;}
.pos-41{margin-left:105px;margin-top:13px;}
.pos-42{margin-left:105px;margin-top:8px;}
.pos-43{margin-left:106px;margin-top:9px;}
}
.size-43{width:100%;min-width:960px;min-height:365px;}
.pos-44{position:relative;margin-left:291px;margin-top:77px;}
.size-44{min-width:377px;width:377px;min-height:114px;height:114px;}
.font-14{font-family:"Helvetica Neue", sans-serif;font-size:47px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:57px;letter-spacing:normal;text-shadow:none;}
.font-15{font-family:"Helvetica Neue", sans-serif;font-size:28px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,253,252);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
.pos-45{position:relative;margin-top:42px;}
.pos-46{position:relative;margin-left:44px;margin-top:0;}
.size-45{min-width:872px;width:872px;min-height:389px;}
.pos-47{position:relative;margin-left:0;margin-top:1px;}
.size-46{min-width:388px;width:388px;min-height:387px;height:387px;}
.img-31{position:absolute;left:0;width:388px;height:387px;top:0;border:0;}
.img-32{left:0;width:388px;height:387px;top:0;display:inline-block;}
.pos-48{position:relative;margin-left:387px;margin-top:-388px;}
.size-47{min-width:485px;width:485px;min-height:389px;}
.size-48{min-width:485px;width:485px;min-height:67px;}
.size-49{min-width:483px;width:483px;min-height:65px;}
.cont-26{z-index:17;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-49{position:relative;margin-left:14px;margin-top:13px;}
.size-50{min-width:450px;width:450px;min-height:39px;}
.size-51{min-width:39px;width:39px;min-height:39px;height:39px;}
.img-33{position:absolute;left:0;width:39px;height:39px;top:0;border:0;}
.img-34{left:0;width:39px;height:39px;top:0;display:inline-block;}
.pos-50{position:relative;margin-left:14px;margin-top:0;}
.size-52{min-width:364px;width:364px;min-height:39px;height:39px;}
.font-16{font-family:"Helvetica Neue", sans-serif;font-size:27px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:36px;letter-spacing:normal;text-shadow:none;}
.pos-51{position:relative;margin-left:13px;margin-top:10px;}
.size-53{min-width:20px;width:20px;min-height:19px;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);height:19px;}
.img-35{position:absolute;left:0;width:20px;height:19px;top:0;border:0;}
.img-36{left:0;width:20px;height:19px;top:0;display:inline-block;}
.pos-52{position:relative;margin-left:0;margin-top:-2px;}
.size-54{min-width:485px;width:485px;min-height:67px;}
.size-55{min-width:483px;width:483px;min-height:65px;}
.cont-27{z-index:22;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-53{position:relative;margin-left:15px;margin-top:13px;}
.size-56{min-width:449px;width:449px;min-height:39px;}
.size-57{min-width:38px;width:38px;min-height:38px;height:38px;}
.img-37{position:absolute;left:0;width:38px;height:38px;top:0;border:0;}
.img-38{left:0;width:38px;height:38px;top:0;display:inline-block;}
.pos-54{position:relative;margin-left:14px;margin-top:0;}
.size-58{min-width:364px;width:364px;min-height:39px;height:39px;}
.cont-28{z-index:24;pointer-events:auto;}
.pos-55{position:relative;margin-left:13px;margin-top:10px;}
.cont-29{z-index:25;pointer-events:auto;}
.cont-30{z-index:26;pointer-events:auto;}
.cont-31{z-index:42;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-56{position:relative;margin-left:15px;margin-top:13px;}
.size-59{min-width:449px;width:449px;min-height:39px;}
.size-60{min-width:38px;width:38px;min-height:38px;height:38px;}
.cont-32{z-index:43;pointer-events:auto;}
.img-39{position:absolute;left:0;width:38px;height:38px;top:0;border:0;}
.img-40{left:0;width:38px;height:38px;top:0;display:inline-block;}
.pos-57{position:relative;margin-left:14px;margin-top:0;}
.size-61{min-width:364px;width:364px;min-height:39px;height:39px;}
.cont-33{z-index:44;pointer-events:auto;}
.pos-58{position:relative;margin-left:13px;margin-top:10px;}
.size-62{min-width:20px;width:20px;min-height:19px;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);height:19px;}
.cont-34{z-index:45;pointer-events:auto;}
.img-41{position:absolute;left:0;width:20px;height:19px;top:0;border:0;}
.img-42{left:0;width:20px;height:19px;top:0;display:inline-block;}
.cont-35{z-index:21;pointer-events:auto;}
.cont-36{z-index:27;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-59{position:relative;margin-left:15px;margin-top:12px;}
.size-63{min-width:449px;width:449px;min-height:41px;}
.size-64{min-width:38px;width:38px;min-height:41px;height:41px;}
.cont-37{z-index:28;pointer-events:auto;}
.img-43{position:absolute;left:0;width:38px;height:41px;top:0;border:0;}
.img-44{left:0;width:38px;height:41px;top:0;display:inline-block;}
.pos-60{position:relative;margin-left:14px;margin-top:1px;}
.cont-38{z-index:29;pointer-events:auto;}
.pos-61{position:relative;margin-left:13px;margin-top:11px;}
.cont-39{z-index:30;pointer-events:auto;}
.cont-40{z-index:31;pointer-events:auto;}
.cont-41{z-index:32;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-62{position:relative;margin-left:15px;margin-top:11px;}
.size-65{min-width:449px;width:449px;min-height:41px;}
.pos-63{position:relative;margin-left:0;margin-top:2px;}
.size-66{min-width:39px;width:39px;min-height:39px;height:39px;}
.cont-42{z-index:33;pointer-events:auto;}
.img-45{position:absolute;left:0;width:39px;height:39px;top:0;border:0;}
.img-46{left:0;width:39px;height:39px;top:0;display:inline-block;}
.pos-64{position:relative;margin-left:13px;margin-top:0;}
.size-67{min-width:364px;width:364px;min-height:39px;height:39px;}
.cont-43{z-index:34;pointer-events:auto;}
.pos-65{position:relative;margin-left:13px;margin-top:10px;}
.cont-44{z-index:35;pointer-events:auto;}
.size-68{min-width:485px;width:485px;min-height:64px;}
.cont-45{z-index:36;pointer-events:auto;}
.size-69{min-width:483px;width:483px;min-height:62px;}
.cont-46{z-index:37;pointer-events:none;border:1px solid rgb(204,204,204);background-color:rgb(255,253,252);}
.pos-66{position:relative;margin-left:15px;margin-top:11px;}
.size-70{min-width:449px;width:449px;min-height:40px;}
.size-71{min-width:39px;width:39px;min-height:40px;height:40px;}
.cont-47{z-index:38;pointer-events:auto;}
.img-47{position:absolute;left:0;width:39px;height:40px;top:0;border:0;}
.img-48{left:0;width:39px;height:40px;top:0;display:inline-block;}
.pos-67{position:relative;margin-left:13px;margin-top:0;}
.cont-48{z-index:39;pointer-events:auto;}
.font-17{font-family:"Helvetica Neue", sans-serif;font-size:27px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:49px;letter-spacing:normal;text-shadow:none;}
.pos-68{position:relative;margin-left:13px;margin-top:10px;}
.cont-49{z-index:40;pointer-events:auto;}
.pos-69{position:relative;margin-left:366px;margin-top:72px;}
.cont-50{z-index:41;pointer-events:auto;}
.pos-70{position:relative;margin-left:-278px;margin-top:153px;}
@media (max-width:959px) {
.size-43{min-width:320px;min-height:130px;}
.pos-44{margin-left:98px;margin-top:10px;}
.size-44{min-width:126px;width:126px;min-height:55px;height:55px;}
.font-14{font-size:16px;line-height:19px;}
.font-15{font-size:15px;line-height:18px;}
.pos-45{margin-top:8px;}
.pos-46{margin-left:58px;}
.size-45{min-width:213px;width:213px;min-height:385px;}
.pos-47{margin-left:1px;margin-top:0;}
.size-46{min-width:211px;width:211px;min-height:211px;height:211px;}
.img-31{width:211px;height:211px;}
.img-32{width:211px;height:211px;}
.pos-48{margin-left:0;margin-top:-1px;}
.size-47{min-width:213px;width:213px;min-height:175px;}
.size-48{min-width:213px;width:213px;min-height:30px;}
.size-49{min-width:211px;width:211px;min-height:28px;}
.pos-49{margin-left:4px;margin-top:1px;}
.size-50{min-width:198px;width:198px;min-height:26px;}
.size-51{min-width:22px;width:22px;min-height:26px;height:26px;}
.img-33{width:22px;height:23px;top:1px;}
.img-34{width:22px;height:23px;top:1px;}
.pos-50{margin-left:9px;margin-top:5px;}
.size-52{min-width:135px;width:135px;min-height:17px;height:17px;}
.font-16{font-size:9px;line-height:12px;}
.pos-51{margin-left:23px;margin-top:9px;}
.size-53{min-width:9px;width:9px;min-height:8px;height:8px;}
.img-35{width:9px;height:8px;}
.img-36{width:9px;height:8px;}
.size-54{min-width:213px;width:213px;min-height:31px;}
.size-55{min-width:211px;width:211px;min-height:29px;}
.pos-53{margin-left:4px;margin-top:4px;}
.size-56{min-width:198px;width:198px;min-height:21px;}
.size-57{min-width:22px;width:22px;min-height:21px;height:21px;}
.img-37{width:22px;height:21px;}
.img-38{width:22px;height:21px;}
.pos-54{margin-left:8px;margin-top:3px;}
.size-58{min-width:142px;width:142px;min-height:16px;height:16px;}
.pos-55{margin-left:17px;margin-top:6px;}
.pos-56{margin-left:4px;margin-top:1px;}
.size-59{min-width:198px;width:198px;min-height:27px;}
.size-60{min-width:22px;width:22px;min-height:27px;height:27px;}
.img-39{width:22px;height:23px;top:2px;}
.img-40{width:22px;height:23px;top:2px;}
.pos-57{margin-left:8px;margin-top:6px;}
.size-61{min-width:143px;width:143px;min-height:17px;height:17px;}
.pos-58{margin-left:15px;margin-top:9px;}
.size-62{min-width:10px;width:10px;min-height:8px;height:8px;}
.img-41{left:1px;width:9px;height:8px;}
.img-42{left:1px;width:9px;height:8px;}
.pos-59{margin-left:4px;margin-top:3px;}
.size-63{min-width:198px;width:198px;min-height:23px;}
.size-64{min-width:22px;width:22px;min-height:23px;height:23px;}
.img-43{width:21px;height:23px;}
.img-44{width:21px;height:23px;}
.pos-60{margin-left:8px;margin-top:4px;}
.pos-61{margin-left:15px;margin-top:7px;}
.pos-62{margin-left:4px;margin-top:4px;}
.size-65{min-width:199px;width:199px;min-height:22px;}
.pos-63{margin-top:0;}
.size-66{min-width:22px;width:22px;min-height:22px;height:22px;}
.img-45{width:22px;height:22px;}
.img-46{width:22px;height:22px;}
.pos-64{margin-left:8px;margin-top:3px;}
.size-67{min-width:143px;width:143px;min-height:16px;height:16px;}
.pos-65{margin-left:16px;margin-top:6px;}
.size-68{min-width:213px;width:213px;min-height:31px;}
.size-69{min-width:211px;width:211px;min-height:29px;}
.pos-66{margin-left:5px;margin-top:5px;}
.size-70{min-width:198px;width:198px;min-height:22px;}
.size-71{min-width:21px;width:21px;min-height:22px;height:22px;}
.img-47{width:21px;height:22px;}
.img-48{width:21px;height:22px;}
.pos-67{margin-left:8px;margin-top:1px;}
.font-17{font-size:9px;line-height:16px;}
.pos-68{margin-left:17px;margin-top:5px;}
.pos-69{margin-left:124px;margin-top:24px;}
.pos-70{margin-left:-93px;margin-top:52px;}
}
