.cont-26{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.size-49{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-58{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-67{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
