.cont-27{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.size-52{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-61{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-70{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
