.cont-38{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.size-69{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-78{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
.size-87{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=1.000000, SizingMethod='auto expand')";}
